%p You have #{@chips} chips.

- if @chips == 0
  %p Try again later!
- else
  %p Here is what the events for the next day look like:
  %p= @events

%p Here is what the bet weeks look like:
%p= @bet_weeks
